.carentApp {
    height: 100vh;
    display: flex;
    flex-flow: column;
    padding-bottom: 3em;
}

.mainTable {
    align-self: center;
    width: 80%;
}

.mainBox {
    width: 25%;
    position: absolute;
    top: 25%;
    align-self: center;
}